.result-card {
    display: flex;
    width: 736px;
    background-color: var(--neutral-white);
    border-radius: 32px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.05);

    .result-score {
        flex: 1;
        background: linear-gradient(var(--secondary-light-slate-blue), var(--secondary-light-royal-blue));
        border-radius: 32px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--neutral-light-lavender);
        text-align: center;

        .score-circle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: linear-gradient(var(--secondary-violet-blue), var(--secondary-persian-blue));
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 30px 0;

            .big-number {
                font-size: 72px;
                font-weight: 800;
                color: white;
            }
        }
    }

    .summary-details {
        flex: 1;
        padding: 40px;

        .summary-item {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            border-radius: 12px;
            margin-bottom: 16px;

            &[data-category="reaction"] {
                background-color: hsla(0, 100%, 67%, 0.1);
                color: var(--primary-light-red);
            }

            &[data-category="memory"] {
                background-color: hsla(39, 100%, 56%, 0.1);
                color: var(--primary-yellow-orange);
            }

            &[data-category="verbal"] {
                background-color: hsla(166, 100%, 37%, 0.1);
                color: var(--primary-greenish-blue);
            }

            &[data-category="visual"] {
                background-color: hsla(234, 85%, 45%, 0.1);
                color: var(--primary-cobalt-blue);
            }
        }
    }
}